*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:poppins,sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    background-color: #222;
}
.hero-header{
    width: 100%;
    height:100%;
    min-height:100vh;
    background-color: #222;
}
.wrapper{
    width:1280px;
    max-width: 95%;
    margin:0 auto;
    padding:0 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: ceneter;
    align-items: center;
}
.logo i{
    height: 45px;
    width: 45px;
    background-color: #007ced;
    border-radius: 50%;
    color:#fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;

}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width: 80%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
    
}
nav .navlinks{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav .navlinks li a{
    color: #e5e5e5;
    margin-left: 2.5rem;
}
 .menu:hover{
    border-bottom: 2px solid #007ced;
    
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.container .hero-pic{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    /* object-fit: cover; */
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}
.hero-pic img{
    height: 100%;
    width:100%;
    transition: 0.5s;
}
.hero-pic img:hover{
    transform: scale(1.2);
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-text h5{
    color:#e5e5e5;
    font-size: 18px;
}
.hero-text h5 span{
    color: #007ced;
    font-size: 20px;
}

.hero-text p{
    color: #e5e5e5;
    line-height:26px;
    padding-top: 20px;

}
.btn-group{
    margin: 45px 0;
}
.btn-group .btn{
    border-color: #e5e5e5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin-right: 7px;
    margin: 5px 0;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}
.btn.active{
    border-color: #007ced;
}
.hero-text .social i{
    color: #e5e5e5;
    font-size: 20px;
    margin-right: 10px;
    transition: 0.5s;
}
.hero-text .social i:hover{
    color: #007ced;
    transform: rotate(360deg);
}

/* Responsiv design & displaying navbar  */
@media(min-width:300px) and (max-width:399px){
    .container{
        padding-top: 30px;
    }
   .hero-text p{
    padding-top: 20px;
   }
   nav .navlinks{
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    
}
   .container .hero-pic{
    width: 280px;
    height: 280px;
}
.logo .logo-text{
    font-size: 18px;
     /* margin-left: 30px; */
}
.logo i{
    width: 38px;
    height: 38px;
    font-size: 1.1rem;
    /* margin-right: 30px; */
}
.btn-group .btn{
    border-color: #e5e5e5;
    color: #fff;
    background-color: #333;
    padding: 12px 20px;
    margin-right: 7px;
    margin: 5px 0;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}
nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width: 70%;
    height: 2px;
    transition: 0.3s;
    transition-property: transform, opacity;
}
.btn.active{
    border-color: #007ced;
    margin-right: 7px;
}
}
@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    /* for togglebtn button*/
    .click{
        top:45px;
    }
      nav .navlinks{
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    
}
    .click span{

        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child
    {
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top:0;
    }
    nav .navlinks{
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right: 0;
    }
    .btn.active{
    /* border-color: #007ced; */
    margin-right: 7px;
}
}
@media(max-width:768px){
      nav .navlinks{
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    
}
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text{
        padding: 40px 0px;
    }
    .btn.active{
    /* border-color: #007ced; */
    margin-right: 7px;
}
}
